<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#form" class="w3-button w3-block w3-black">Search</a>
    </div>
    <div class="w3-col s3">
      <a href="#recommendation" class="w3-button w3-block w3-black">Recommendation</a>
    </div>
    <div class="w3-col s3">
      <a href="historical" class="w3-button w3-block w3-black">Historical</a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block w3-black">Contact</a>
    </div>
  </div>
</div>
