<div class="w3-container" id="contact" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Contact Us</span></h5>
    <p><span class="w3-tag">FYI!</span> If you have any questions that wanted to ask us, you can ask us through sending email to us.</p>

  <form id="form" action="send" method="post">

        <p><label for="sub">Subject:</label><input type="text" class="form-control" id="sub" name="subject" placeholder="Enter your subject"/></p>
      <p><label for="text">Message:</label><input type="text" class="form-control" id="text" name="message" placeholder="Enter your message"/></p>
      <p><button class="w3-button w3-black" type="submit">Submit</button></p>
    </form>
  </div>
</div>
