<!DOCTYPE html>
<html>
<title>Food Finder</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("385780b11968d3d.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}
</style>
<body>

<!-- Navbar (sit on top) -->
{{>navbar}}

<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">Open for 24/7</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">Food<br>Finder</span>
  </div>

</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">About Us</span></h5>
    <div class="w3-container" id="menu">
      <div class="w3-content" style="max-width:700px">
        <p>Food Finder helps many people who doesn't know what to eat or what to know any new restaurant nearby. We will guide them to the best restaurant or cafe to visit at their preferred area.</p>
            <p>In addition which make us unique is our listing are accurate via rating by local food lovers who visit the restaurant.</p>
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Food Restaurant Searching</span></h5>

        <div class="w3-row w3-center w3-card w3-padding">
          <form id="form" action="/" method="post">
          <div class="form-group">
            <label for="addr">Location:</label>
            <input type="text" class="form-control" id="addr" name="address" placeholder="Enter your preffered location"/>
          </div>
          <div class="form-group">
            <label for="Name">Keyword:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter keyword (e.g: food)">
          </div>
          <div class="form-group">
            <label for="places-type">I am looking for:</label>
            <select id="places-type" name="placetype" class="form-control">
              {{> scrollablelist}}
            </select>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-success" formaction="/getplaces">Go!</button>
          </div>
        </form>
        </div>
  </div>
</div>

<!-- Menu Container -->
<div class="w3-container" id="recommendation">
  <div class="w3-content" style="max-width:700px">

    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Recommendation</span></h5>
    <div class="row">
      <div class="column">
        <a href="https://www.tripadvisor.com.my/Restaurant_Review-g298303-d813751-Reviews-Foong_Wei_Heong_Restaurant-George_Town_Penang_Island_Penang.html">
      <img src="IMG_20160508_211509.jpg" style ="width:100%" height="100%" class="w3-border w3-padding" alt="chinese restaurant"></a>
        <h5> Foong Wei Restaurant</h5>
      </div>
      <div class="column">
        <a href="https://www.tripadvisor.com.my/Restaurant_Review-g660694-d9821214-Reviews-2F_Coffee-Penang_Island_Penang.html">
      <img src="caption.jpg" style ="width:100%" height="100%" class="w3-border w3-padding" alt="cafe"></a>
      <h5> 2f+ Cafe</h5>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <a href="https://macallumcoffee.com/">
          <img src="SJfnc-Y-W.jpg" style ="width:100%" height="100%" class="w3-border w3-padding" alt="cafe1"></a>
       <h5> Macallum Cafe</h5>
      </div>
      <div class="column">
        <a href="http://www.farquharmansion.com/">
          <img src="0K4A9634-1024x683.jpg" style ="width:100%" height="100%" class="w3-border w3-padding" alt="cafe2"></a>
       <h5>Farquhar Mansion</h5>
      </div>
    </div>





<!-- Contact/Area Container -->
<div class="w3-container" id="contact" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Contact Us</span></h5>
    <p><span class="w3-tag">FYI!</span> If you have any questions that wanted to tell us, you can tell us through sending email to us.</p>
{{msg}}
    <form method="POST" action="send">
      <p><label for="sub">Name:</label><input type="text" class="form-control" id="sub" name="subject" placeholder="Enter your Name"/></p>
      <p><label for="text">Message:</label><input type="text" class="form-control" id="message" name="message" placeholder="Enter your message"/></p>

      <p><button class="w3-button w3-black" type="submit" formaction="/send">Submit</button></p>
    </form>
  </div>
</div>


<!--poll-->
<div class="container">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Vote feedback</span></h5>
        <p>You can only vote for once, after you had vote, please refresh the web page so that you will see the results</p>
    </div>
    <form id="vote-form">
      <p>
        <input type="radio" name="os" id="windows" value="Useful">
        <label for="Useful">Useful</label>
      </p>
      <p>
        <input type="radio" name="os" id="macos" value="Normal">
        <label for="Normal">Normal</label>
      </p>
      <p>
        <input type="radio" name="os" id="linux" value="Useless">
        <label for="Useless">Useless</label>
      </p>
      <p>
        <input type="radio" name="os" id="other" value="Worst">
        <label for="Worst">Worst</label>
      </p>
      <input type="submit" value="Vote" class="btn">
    </form>

    <br>
    <br>

    <h5 style="text-align: center" id="chartTitle"></h5>
    <div id="chartContainer" style="height: 300px;width:100%"></div>
  </div>

  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.2.2/pusher.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
  <script src="main.js"></script>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>




</body>
</html>
